*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}
a{
    text-decoration: none;
    padding: 10px 15px;
}


/* header */
.header{
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue
}

.container{
    width: 70%;
    margin: auto;
}

.nav__bar{
    padding: 20px 0;
}

.nav__row{
    display: flex;
    justify-content: space-between;
}

.nav__logo{}

.nav__list{

}
.nav__list ul{
    display: flex;
    justify-content: space-between;
}
.nav__list li{
 margin: 0 10px; 
}

.nav__btn{

}
.nav__btn button{
   padding: 5px 10px;
   border-radius: 10px;
   border: 1px solid #fff;
  background-color: #fff;
}


.header__content{
    padding: 40px;
    background-color: burlywood;
    width: 70%;
    margin: auto;
}

.header__row{
    
}

.header__title{
    text-align: center;
    font-size: 24px;
}

.header__text{}

.header__text p{
    text-align: center;
    line-height: 20px;
}

.header__btn{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.header__btn button{
   margin-right: 20px;
}

/* main */
/* study-container */
.study__group{
    margin: 20px 0;
}

.study__row{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    min-height: 200px;
    
}

.study__img{
   flex-basis: 70%;
   background-color: cornflowerblue;
}


.study__body{
    flex-basis: 30%;
    padding:10px 10px;
}

.study__title{}

.study__text{
    font-size: 12px;
    line-height: 20px;
    padding: 10px 0;
}

/*  voice__container*/

.voice__connected{
    margin: 20px 0;
    background-color: lightgray;
}

.voice__row{
    display: flex;
    border: 1px solid black;
    min-height: 200px;
}

.voice__body{
    flex-basis: 30%;
    padding: 10px 10px;
}

.voice__title{

}

.voice__text{
    font-size: 12px;
    padding: 10px 0;
    line-height: 20px;
}

.voice__img{
    flex-basis: 70%;
    background-color: cornflowerblue;
}

/* coach__container */

.coach{
    margin: 20px 0;
}

.coach__row{
    display: flex;
    min-height: 200px;
    border: 1px solid  black;
}

.coach__img{
    flex-basis: 70%;
    background-color: cornflowerblue;
}

.coach__body{
    flex-basis: 30%;
    padding: 10px;
}

.coach__title{}

.coach__text{
    font-size: 12px;
    line-height: 20px;
    padding: 10px 0;
}
/* contact__container */

.contact{
    padding: 20px 0;
    background-color: lightgray;
}

.contact__row{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.contact__body{
    padding: 20px 0;
    text-align: center;
}

.contact__title{
    
}

.contact__text{
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
}

.contact__img{
    margin: 20px 0;
    min-height: 200px;
    background-color: cornflowerblue;
}

.contact__subtitle{
    margin: 10px 0;
    text-align: center;
}

.contact__btn{
    margin: 20px 0;
    text-align: center;
}
.contact__btn button{
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: #fff;
    border: 1px solid cornflowerblue;
    border-radius: 20px;
    
}
.contact__btn button::before{
    content: '\2193';
    color: #fff;
    margin-right: 5px;
    font-size: 15px;
}


/* footer-container */
.footer{
background-color: black;
padding: 20px 0;
}

.footer-row{}


.list li{
    padding: 5px 0;
}
.list{
   flex :1 0 auto;
}
.list:first-child{
    flex: 2 0 auto;
}

.list-row{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.list-social{
   
}
.list-title{
    color: cornflowerblue;
}

.list-italiano{
    padding: 20px 0;
    color: #fff;
}

.list-icon img{
    margin: 0 10px;
}

.list-product{
    color: #fff;
}

.list-company{
    color: #fff;
}

.list-resorse{
    color: #fff;
}

.list-norme{
    color: #fff;
}

hr{
    border: 1px solid cornflowerblue;
}
h5{
    color:cornflowerblue ;
}


.list-footer{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}


.list-logo{}

.list-btn{}
.list-btn button{
    padding: 5px 10px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 20px;
}